<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Any journey is filled with possibilities, excitement, challenges and new beginnings around every corner. The journey of life is the same, with its many ups, downs, twists and turns. At Journey Christian Fellowship, we believe that it is in the midst of the twists and turns of life that we encounter the amazing grace, love and power of our Savior, Jesus Christ. As a church, we want to be a light and voice of Jesus Christ for those who are at a crossroads on their journey of life and walk with them as they encounter God. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">What to Expect</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Journey Christian Fellowship is a Bible believing, Spirit-filled, welcoming church located in Walnut Creek,  CA. Our goal is to lead people into a growing relationship with God no matter  where they at their journey in life. We are students, professionals, parents, grandparents, children and young adults. We start our Sunday mornings with a cup of coffee and fellowship at 11:00am because we want to connect and journey together. Our worship service starts at 11:29am and is contemporary, yet entirely God-focused. If you are looking for a place to grow in your relationship with God and build a long lasting and meaningful community, we welcome you to our home, which we hope you can make it yours too. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">What We Believe</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The core of our belief is centered on the incarnation, birth, life, death and resurrection of Jesus Christ, the Son of God. We believe in Jesus as the one who saves us from the power of sin and death, fills us with the Spirit of God to help us live in this world, heals us from distress and disease, and that He will return as promised as the King of all righteousness and peace.</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Our Minister</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finny Abraham was born in UAE (Dubai), brought up in India and is currently studying in the USA. Growing up in a pastoral family, Finny acquired a great passion to serve people and bring them into a closer relationship with God. After completing his Masters in Social Work, Finny came to the United States to study for his Masters in Divinity at Fuller Theological Seminary. While there, he began his ministry as a pastor of an English ministry at a Korean-American church.  Presently,
he is a PhD student focusing on New Testament studies at the Graduate Theological Union in Berkeley, CA. Finny enjoys preaching the Word in a systematic manner, inspiring people to love reading the Scripture, and challenging them to live by its values. Having lived in 3 different countries, Finny integrates well with all cultures for the purpose of sharing the gospel.
</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
