<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us/Prayer Request</h2>
                    <h3 class="section-subheading text-muted"> Send us an email or prayer request through here! Use the Google Form to privatly send your request. Also feel free to contact Finny this way.</h3>
               
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSewCaemMRmxOtdnvhS2HoIGiQe-trhPCLY4KOxYMc66HP4SLQ/viewform?embedded=true" width="760" height="760" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
            </div>
        </div>
    </section>

            