<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Events</h2>
                    <h3 class="section-subheading text-muted">Check out our upcoming and latest events! </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">1st Anniversary Service </h4>
                    <p class="text-muted">Our 1st Anniversary Service is at 11:29 am on Sep 19th at our Church.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coffee Before Service</h4>
                    <p class="text-muted">Join us for Coffee Before Service at 10:45 am at Fellowship Hall!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Hour of Prayer, UC Berkeley</h4>
                    <p class="text-muted">The Hour of Prayer on Mondays at UC Berkeley Campus 6pm-7pm. Email or talk to Finny or Chris Lin for more details!</p>
                </div>

                <!-- TODO: PUT YOUR NEW EVENT HERE!
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">EVENT TITLE</h4>
                    <p class="text-muted">EVENT DESCRIPTION</p>
                </div>
                -->
            </div>
        </div>
    </section>
